a:link {
	color:cornflowerblue;
}
a:visited {
	color:purple;
}
a:hover {
	color:black;
}

body {
	background-color:powderblue;
}

#button{
	background-color:gold;
	border:2px solid cornflowerblue;
	border-radius: 3px;
	color:cornflowerblue;
	padding:10px, 5px, 10px, 5px;
}

#content {
	border:5px solid gray;
	border-radius: 10px;
	color:cornflowerblue;
	margin:10px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	text-align:center;
	width:90%;
}

.descriptor {
	font-size:11px;
	color:gray;
}

h3 {
	color:cornflowerblue;
	font-family:Georgia;
	font-style:italic;
	text-decoration:underline;
}

input {
	border:1px solid black;
}

#button:disabled {
	background-color: #dddddd;;
	color:grey;
	border: #dddddd;
}

label {
	color:cornflowerblue;
	font-style:bold;
}

p {
	padding-left: 150px;
	padding-right: 150px;
}

.required:after {
	content:" *";
	color:red;
}

#thank-you {
	text-align:center;
	color:red;
	font-style:italic;
}

